/* General */

.icon-action
{
    cursor: pointer !important;
}

.parrafo-centrado
{
    margin: 0 !important;
    text-align: center !important;
}

.deleteElement
{
    cursor: pointer;
    color: #e51d18;
    font-weight: bold;
}

/* Galeria */
.contendor-galeria
{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria_img
{
    width: 250px;
    height: 200px;
    margin-bottom: 30px;
    cursor: pointer;
    object-fit: cover;
    filter: brightness(80%);
    /*animation: escalar 1.5s infinite;*/
}
    .galeria_img:hover
    {
        filter: brightness(100%);
    }

@keyframes escalar{
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.1);
    }
}

/* Galeria en Editar */
.content-image
{
    position: relative;
}
.content-image:hover .deleteElementGallery
{
    visibility: visible;
}
.deleteElementGallery
{
    visibility: hidden;
    position: absolute;
    top: 7px;
    right: 12px;
    padding: 3px 5px;
    border: 2px solid red;
    border-radius: 50%;
    z-index: 999;
}
